@import "compass/reset";

body {
	font-family: Arial, Verdana, Tahoma, serif;
	padding: 1em;
}

code {
	background: gainsboro;
	display: block;
	font-family: Monospace;
	margin: 0.5em 0;
	padding: 0.5em;
	white-space: pre;
}