@import "compass";
@import "compass/reset";
@import "compass/css3/flexbox";
@import "sassy-buttons";

html {
	height: 100%;	
	min-height: 100%;
}

body {
	@include background-image(radial-gradient(#555a5f 0%, #1c1e20 100%));
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
	font-family: Arial, Verdana, Tahoma, serif;
	height: auto;
	min-height: 100%;
}

[role="main"] {
	color: white;
	margin-bottom: 1em;
	padding: 1em;
	position: relative;
	min-width: 30%;
	a {
		color: #13daec;
		display: inline-block;
		text-decoration: none;
		margin: 0.5em 0;
	}
	aside {
		border: solid 1px rgba(255, 255, 255, 0.5);
		border-radius: 4px;
		color: rgba(255, 255, 255, 0.5);
		padding: 1rem;
		font-size: 0.8em;
		margin-top: -1rem;
		position: absolute;
		left: 100%;
	}
}

code {
	background: black;
	border-radius: 4px;
	display: block;
	font-family: Monospace;
	margin: 0.5em 0;
	padding: 0.5em;
	white-space: pre;
}

strong {
	font-weight: bold;
}

button {
	@include sassy-button("glass");
}