@import "compass/reset";

body {
	background-color: #ecd63f;
}

.reveal {
	td, 
	th {
		border: 0 solid white;
		border-bottom-width: 1px;
		padding: 0.25em;
		&:not(:last-child) {
			border-right-width: 1px;
		}
	}
	td {
		border-style: dotted;
	}
	tr:last-child td {
		border-bottom: 0;
	}
}

.bright-background {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
}