<!DOCTYPE  html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">
    <link rel="stylesheet" href="bower_components/reveal.js/css/theme/default.css" id="theme">
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css" />

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css">

    <!--[if lt IE 9]>
    <script src="bower_components/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
$body$
      </div>
    </div>
    <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
    <script src="bower_components/reveal.js/js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
      });

    </script>
  </body>
</html>
